@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
   
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

:root {
    --main-color: #537f71;
  }
  .btn:hover, .title, .nav-link, button:focus, button:active, a:focus, a:active {
    color: var(--main-color);
  }
  

.svgImg {
    display: none;
}

.click {
    display: block;
}


.btn {
    display: inline-block;
    background-color: #537f71;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #fff !important;
    border-color: #537f71;
    transform: scale(1.1);
}

.title {
  font-weight: 600; 
}

@media (max-width: 576px) {
   
    .logo{
        width:5%
    }
    .title {
        font-size: 250%;
    }

    .img {
        max-width: 50%;
        min-width: 60%;
    }
}

@media (min-width: 577px) {
 
    .title {
        font-size: 350%;
    }
    .logo{
        width:5%;
    }

    .img {
        width: 35%;
    }
}
@media (min-width: 992px) {
    .nav-link:hover{
        color: #537f71;
     text-decoration: underline;
    }
    .title {
        font-size: 400%;
    }
    .svgImg{
        display: block;
    }
    .img{
        width: 52%;
        
    }
    .logo{
        width:2%
    }
}
.img{
    animation: upimg 2s linear 
}
@keyframes upimg{
    0%{
opacity: 0;
transform:translateY(-100px);
    }
    100%{
opacity: 1;
transform:translateY(0);
    }
}